<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<!--this xml is for ci, please don't modify it-->
<!--testcase for function test, which can be excuted concurrently-->
<suite name="driver" verbose="1" parallel="classes" thread-count="1">

    <parameter name="MAINSDBURL" value="sdbip:sdbport"/>
    <parameter name="SDBUSER" value="sdbadmin"/>
    <parameter name="SDBPASSWD" value="sequoiadb"/>

    <parameter name="SCMUSER" value="admin"/>
    <parameter name="SCMPASSWD" value="admin"/>
    <parameter name="GATEWAYS" value="server1ip:server1port,server2ip:server2port"/>
    <parameter name="DATADIRECTORY" value="/tmp/ci_cm"/>

    <listeners>
          <listener class-name = "com.sequoiacm.testcommon.TestScmListener"/>
   </listeners>
   
   <test name="parralclass" preserve-order="true">
   <packages>
         <package name="com.sequoiacm.cleantask"/>
         <package name="com.sequoiacm.count"/>
         <package name="com.sequoiacm.file"/>
         <package name="com.sequoiacm.file.seek"/>
         <package name="com.sequoiacm.directory.file"/>
         <package name="com.sequoiacm.directory"/>
         <package name="com.sequoiacm.batch"/>
         <package name="com.sequoiacm.physicaldelete"/>
         <package name="com.sequoiacm.session"/>
         <package name="com.sequoiacm.transfertask"/>
         <package name="com.sequoiacm.schedule"/>
         <package name="com.sequoiadb.cachefile"/>
         <package name="com.sequoiadb.transferfile"/>
         <package name="com.sequoiacm.metadata"/>
         <package name="com.sequoiacm.fileversion.schdule" />
         <package name="com.sequoiacm.fileversion" />
         <package name="com.sequoiacm.fileversion.task" />
         <package name="com.sequoiacm.workspace" />
         <package name="com.sequoiacm.privilege" />
         <package name="com.sequoiacm.config"/>
         <package name="com.sequoiacm.md5" />
      </packages>
      <classes>
         <class name="com.sequoiadb.cachefile.CacheFile" />
      </classes>
   </test>
</suite>