*.pyc
.project
.classpath
.settings/
target/
deploy/
!/script/deploy/
!/tools/scm-deploy/src/main/java/com/sequoiacm/deploy/
/archive-target/
test-output/
.idea/
*.iml
node_modules/
dist/
/src/om-server/project/server/sequoiacm-om-omserver/src/main/resources/static/static/
/src/om-server/project/server/sequoiacm-om-omserver/src/main/resources/static/favicon.ico
/src/om-server/project/server/sequoiacm-om-omserver/src/main/resources/static/index.html
localbuild/temp_package/