<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<!--this xml is for ci, please don't modify it -->
<!--testcase for function test, which can be excuted concurrently -->
<suite name="scm_story" verbose="1">
    <parameter name="FORCECLEAR" value="false"/>
    <parameter name="NTPSERVER" value="192.168.29.80"/>
    <parameter name="DATADIR" value="/tmp/ci_cm"/>
    <parameter name="LOCALHOSTNAME" value="localhost"/>
    <parameter name="SSHUSER" value="root"/>
    <parameter name="SSHPASSWD" value="jenkins"/>
    <!--  元数据服务SDB  -->
    <parameter name="MAINSDBURL" value="mainSiteHostName:11810"/>
    <parameter name="SDBUSER" value="sdbadmin"/>
    <parameter name="SDBPASSWD" value="sequoiadb"/>
    <!--  测试用例1093新建站点使用的SDB,用户密码都是sdbadmin  -->
    <parameter name="NEWSITESDBURL" value="192.168.28.134:11810"/>
    <!--  SCM配置  -->
    <parameter name="SITES" value="XXXX"/>
    <parameter name="RUNBASETEST" value="false"/>
    <parameter name="GATEWAYS" value="GATEWAYURLS"/>
    <parameter name="ROOTSITESVCNAME" value="rootsite"/>
    <parameter name="SCMUSER" value="admin"/>
    <parameter name="SCMPASSWD" value="admin"/>
    <parameter name="SCMPASSWDPATH" value="/opt/dbuser_info"/>
    <!--  SCM om服务  -->
    <parameter name="OMSERVERURL" value="omServerHostName:port"/>
    <!--  LDAP服务  -->
    <parameter name="LDAPUSER" value="ldapadmin"/>
    <parameter name="LDAPPASSWD" value="admin"/>
    <!--  SCM集群包含第三方数据源时需要配置  -->
    <parameter name="CEPHS3SECRETKEY" value="w7iiZFGDf57dY1XBfU8tQJnWZBQzGKApBf2LC6DW"/>
    <parameter name="CEPHSWIFTSECRETKEY" value="XphCjBUNa8Kr4POSAlFBotXaDZSGAJD7NhNhtcu5"/>
    <!--  伪分布式HDFS配置active节点，例hdfs://192.168.25.25:8020,分布式HA部署填zookeeper地址，例192.168.28.132:2181 -->
    <parameter name="HDFSURL" value="scm-test-ci-cent7:2181"/>
    <!--  公共工作区名:分区方式  -->
    <parameter name="COMMONWS" value="ws_year:year,ws_month:month,ws_none:none,ws_quarter:quarter"/>

    <listeners>
        <listener class-name="com.sequoiacm.testcommon.listener.TestScmListener"/>
        <listener class-name="com.sequoiacm.testcommon.listener.GroupListener"/>
    </listeners>

    <test name="parralclass" parallel="classes" thread-count="10">
        <packages>
            <!-- asynctask -->
            <package name="com.sequoiacm.asynctask"/>
            <package name="com.sequoiacm.asynctask.concurrent"/>
            <!-- drivernetpool -->
            <package name="com.sequoiacm.drivernetpool"/>
            <package name="com.sequoiacm.drivernetpool.concurrent"/>
            <!-- multiDs -->
            <package name="com.sequoiacm.multids"/>
            <package name="com.sequoiacm.multids.concurrent"/>
            <!-- query -->
            <package name="com.sequoiacm.querybuilder"/>
            <!-- readcachefile -->
            <package name="com.sequoiacm.readcachefile"/>
            <package name="com.sequoiacm.readcachefile.concurrent"/>
            <!-- scmfile -->
            <package name="com.sequoiacm.scmfile"/>
            <package name="com.sequoiacm.scmfile.concurrent"/>
            <!-- session -->
            <package name="com.sequoiacm.session"/>
            <package name="com.sequoiacm.session.concurrent"/>
            <!-- site -->
            <package name="com.sequoiacm.site"/>
            <!-- workspace -->
            <package name="com.sequoiacm.workspace"/>
            <!-- rest -->
            <package name="com.sequoiacm.rest"/>
            <!-- directory -->
            <package name="com.sequoiacm.directory"/>
            <package name="com.sequoiacm.directory.concurrent"/>
            <!-- batch -->
            <package name="com.sequoiacm.batch"/>
            <package name="com.sequoiacm.batch.concurrent"/>
            <!-- auth -->
            <package name="com.sequoiacm.auth"/>
            <package name="com.sequoiacm.auth.concurrent"/>
            <!-- breakpoint file -->
            <package name="com.sequoiacm.breakpointfile"/>
            <package name="com.sequoiacm.breakpointfile.concurrent"/>
            <!-- file version -->
            <package name="com.sequoiacm.version"/>
            <package name="com.sequoiacm.version.concurrent"/>
            <!-- definemeta -->
            <package name="com.sequoiacm.definemeta"/>
            <package name="com.sequoiacm.definemeta.concurrent"/>
            <!-- s3-->
            <package name="com.sequoiacm.s3.bucket"/>
            <package name="com.sequoiacm.s3.bucket.concurrent"/>
            <package name="com.sequoiacm.s3.object"/>
            <package name="com.sequoiacm.s3.object.concurrent"/>

            <package name="com.sequoiacm.s3.partupload.concurrent"/>
            <package name="com.sequoiacm.s3.partupload"/>

            <package name="com.sequoiacm.s3.version"/>
            <package name="com.sequoiacm.s3.version.concurrent"/>

            <!-- schedulePreferredZone：需要至少有2个分站点，且每个分站点至少需要有两个节点分别位于zone1和zone2 -->
            <!-- <package name="com.sequoiacm.schedulePreferredZone"/>-->
            <!--task-->
            <package name="com.sequoiacm.task"/>
            <package name="com.sequoiacm.task.concurrent"/>
            <package name="com.sequoiacm.scheduletask"/>
            <package name="com.sequoiacm.scheduletask.concurrent"/>

            <!-- 问题单1406导致用例随机失败，桶限额用例暂时屏蔽，待问题单修改后放开 -->
            <!--
            <package name="com.sequoiacm.s3.bucketQuota"/>
            <package name="com.sequoiacm.s3.bucketQuota.concurrent"/>-->
        </packages>
    </test>

    <test name="checkRemain">
        <packages>
            <package name="com.sequoiacm.testresource"/>
        </packages>
    </test>
</suite>
