<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<!--this xml is for ci, please don't modify it -->
<!--testcase for function test, which can be excuted concurrently -->
<suite name="scm_story" verbose="1">
    <parameter name="FORCECLEAR" value="false"/>
    <parameter name="DATADIR" value="/tmp/ci_cm"/>
    <parameter name="NTPSERVER" value="192.168.20.200"/>
    <parameter name="LOCALHOSTNAME" value="localhost"/>

    <parameter name="SSHUSER" value="root"/>
    <parameter name="SSHPASSWD" value="jenkins"/>

    <parameter name="MAINSDBURL" value="mainSiteHostName:11810"/>
    <parameter name="SDBUSER" value="sdbadmin"/>
    <parameter name="SDBPASSWD" value="sequoiadb"/>

    <!-- 需要屏蔽的独有用例类型，网状模型下指定star，星状模型下指定net -->
    <parameter name="IGNORE" value="${IGNORE}"/>
    <parameter name="GATEWAYS" value="GATEWAYURLS"/>
    <parameter name="ROOTSITESVCNAME" value="rootsite"/>
    <parameter name="SCMUSER" value="admin"/>
    <parameter name="SCMPASSWD" value="admin"/>
    <parameter name="SCMPASSWDPATH" value="/opt/dbuser_info"/>
    <parameter name="S3ACCESSKEYID" value="S3USER"/>
    <parameter name="S3SECRETKEY" value="S3PASSWORD"/>
    <parameter name="S3WOKERSPACES" value="ws_default"/>

    <parameter name="LDAPUSER" value="ldapadmin"/>
    <parameter name="LDAPPASSWD" value="admin"/>
    <listeners>
        <listener class-name="com.sequoiacm.testcommon.TestScmListener"/>
    </listeners>

    <test name="parralclass" parallel="classes" thread-count="5">
        <method-selectors>
            <method-selector>
                <script language="beanshell">
                    <![CDATA[
               (groups.containsKey("XXXX")&&(!groups.containsKey(testngMethod.getXmlTest().getParameter("IGNORE"))))
               ||groups.isEmpty();
               ]]>
                </script>
            </method-selector>
        </method-selectors>

        <packages>
            <!-- asynctask -->
            <package name="com.sequoiacm.asynctask"/>
            <package name="com.sequoiacm.asynctask.concurrent"/>
            <!-- drivernetpool -->
            <package name="com.sequoiacm.drivernetpool"/>
            <package name="com.sequoiacm.drivernetpool.concurrent"/>
            <!-- multiDs -->
            <package name="com.sequoiacm.multids"/>
            <package name="com.sequoiacm.multids.concurrent"/>
            <!-- query -->
            <package name="com.sequoiacm.querybuilder"/>
            <!-- readcachefile -->
            <package name="com.sequoiacm.readcachefile"/>
            <package name="com.sequoiacm.readcachefile.concurrent"/>
            <!-- scmfile -->
            <package name="com.sequoiacm.scmfile"/>
            <package name="com.sequoiacm.scmfile.concurrent"/>
            <!-- session -->
            <package name="com.sequoiacm.session"/>
            <package name="com.sequoiacm.session.concurrent"/>
            <!-- site -->
            <package name="com.sequoiacm.site"/>
            <!-- workspace -->
            <package name="com.sequoiacm.workspace"/>
            <!-- rest -->
            <package name="com.sequoiacm.rest"/>
            <!-- directory -->
            <package name="com.sequoiacm.directory"/>
            <package name="com.sequoiacm.directory.concurrent"/>
            <!-- batch -->
            <package name="com.sequoiacm.batch"/>
            <package name="com.sequoiacm.batch.concurrent"/>
            <!-- auth -->
            <package name="com.sequoiacm.auth"/>
            <package name="com.sequoiacm.auth.concurrent"/>
            <!-- breakpoint file -->
            <package name="com.sequoiacm.breakpointfile"/>
            <package name="com.sequoiacm.breakpointfile.concurrent"/>
            <!-- file version -->
            <package name="com.sequoiacm.version"/>
            <package name="com.sequoiacm.version.concurrent"/>
            <!-- definemeta -->
            <package name="com.sequoiacm.definemeta"/>
            <package name="com.sequoiacm.definemeta.concurrent"/>
            <!-- s3-->
            <package name="com.sequoiacm.s3.bucket"/>
            <package name="com.sequoiacm.s3.bucket.concurrent"/>
            <package name="com.sequoiacm.s3.object"/>
            <package name="com.sequoiacm.s3.object.concurrent"/>

            <!-- <package name="com.sequoiacm.s3.partupload.concurrent"/>-->
            <!-- <package name="com.sequoiacm.s3.partupload"/>-->

            <!-- schedulePreferredZone：需要至少有2个分站点，且每个分站点至少需要有两个节点分别位于zone1和zone2 -->
            <!-- <package name="com.sequoiacm.schedulePreferredZone"/>-->
        </packages>
    </test>

</suite>
