<configuration scan="true" scanPeriod="60" debug="false">


    <logger name="org.springframework" level="ERROR"/>
    <logger name="com.sequoiacm.client.core" level="ERROR"/>
    <logger name="org.apache.http" level="ERROR"/>
    <logger name="ch.qos.logback.classic" level="ERROR"/>
    <logger name="com.sequoiacm.apache" level="ERROR"/>
    
    
    <appender name="FILE"
        class="com.sequoiacm.deploy.common.DeployLogFileAppender">
        <rollingPolicy
            class="com.sequoiacm.deploy.common.DeployLogFileRollingPolicy">
            <minIndex>1</minIndex>
            <maxIndex>10</maxIndex>
        </rollingPolicy>

        <triggeringPolicy
            class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>100MB</maxFileSize>
        </triggeringPolicy>

        <encoder
            class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}][%-5level][%c:%L][%thread]:%msg %n</pattern>
        </encoder>
       
    </appender>



    <appender name="STDOUT"
        class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <encoder
            class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
               <pattern>%highlight([%-5level]) %msg %n%nopex</pattern>
        </encoder>
        <filter class="com.sequoiacm.deploy.common.DeployConsoleLogFilter">
            <level>INFO</level>
            <filterPackage>org.reflections</filterPackage>
        </filter>
    </appender>


    <root level="DEBUG">
        <appender-ref ref="FILE" />
        <appender-ref ref="STDOUT" />
    </root>


</configuration>
